---
import Section from "../Section.astro";
---

<Section color="black" title="Accessories">
  <img
    slot="background"
    alt="accessories"
    class="h-full w-full object-cover object-center"
    src="accessories.jpg"
    id="bg-image-powerwall"
  />
  <div slot="footer">
    <a
      class="text-black bg-white rounded font-medium px-24 py-3 text-sm"
      href="#"
    >
      Shop Now</a
    >
  </div>
</Section>
