---
import Section from "../Section.astro";
import PairButtons from "../PairButtons.astro";
---

<Section color="black" title="Model 3" subtitle="">
  <img
    slot="background"
    alt="model 3"
    class="h-full w-full object-cover object-center"
    src="model-3.webp"
    id="bg-image-model-3"
  />
  <PairButtons slot="footer" leftLabel="Order Now" rightLabel="Demo Drive" />
</Section>
