---
import PairButtons from "../PairButtons.astro";
import Section from "../../components/Section.astro";
---

<Section color="black" title="Powerwall">
  <img
    slot="background"
    alt="powerwall"
    class="h-full w-full object-cover object-center"
    src="powerwall.webp"
    id="bg-image-powerwall"
  />
  <PairButtons slot="footer" leftLabel="Order Now" rightLabel="Learn More" />
</Section>
