---
const { leftLabel, rightLabel } = Astro.props;
---

<div class="gap-x-6 flex mx-auto">
  <a
    class="min-w-[15rem] py-2 bg-white text-sm rounded font-medium text-black bg-opacity-80"
    href="#"
  >
    {leftLabel}</a
  >
  <a
    class="min-w-[15rem] py-2 bg-zinc-800 text-sm rounded font-medium text-white bg-opacity-70"
    href="#"
  >
    {rightLabel}</a
  >
</div>
